<section class="nosotros">
  <h2>Responsable del Tratamiento de Datos</h2>
  <p>El responsable del tratamiento de los datos personales recolectados a través de la plataforma GymSearch es:</p>
  <address>
    <strong>GymSearch</strong><br>
    Isla Palmira 2343,<br>
    Jardines de la Cruz,<br>
    44950 Guadalajara, Jal.<br>
  </address>
  <p>GymSearch se compromete a proteger la privacidad de los usuarios y a cumplir con la legislación aplicable en materia de protección de datos.</p>
  <p>La información recolectada se utilizará para fines específicos, tales como la gestión de pedidos, atención al cliente y mejora de la experiencia de compra en la plataforma.</p>
</section>

  